@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
header{
    height: 15vh;
    padding: 2px 0;
    background-color: #FFF;
}
li:first-child{
    vertical-align:middle;
}
.nav-bar{
    width: 30%;
    margin-left: 15rem;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-right: auto;
}
ul li{
    display: inline-block;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 500;
    font-size: 0.9rem;
    padding-right: 2.5rem;
}
.content{
    background: #E9E9E9;
    height: 105vh;
}
.contact, .about{
    font-family: 'Inter', sans-serif;
    font-size: 900;
    font-size: 3.4rem;
    margin-top: 3rem;
}
p{
    font-family: 'Inter', sans-serif;
    font-size: 500;
    font-size: 1.03rem;
    line-height: 1.3;
}
.para-1{
    margin-top: 5rem;
}
.para-2,.para-3{
    margin-top: 1.8rem;
}
article{
    width: 45.4%;
    margin-left: 15rem;
    padding-top: 5px;
}
button{
    display: block;
    margin-left: 15rem;
    margin-right: auto;
    padding: 1rem 1.5rem;
    background-color: #A5A5A5;
    border: none;
    font-family: 'Inter', sans-serif;
    margin-top: 6.8rem;
}
footer{
    padding-top: 5px;
    height: 48vh;
    background-color: white;
}
.higher{
    margin-left: 15rem;
    margin-right: auto;
}
.rectangle{
    height: 25px;
    width: 230px;
    background-color: #D9D9D9;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: inline-block;
    margin-inline: 2px;
}
.lower{
    margin-top: 3rem;
    background-color: #D9D9D9;
    height: 12vh;
}